# dependencies
node_modules/

# next.js
.next/
out/

# environment
.env.local
.env*.local

# build
*.tsbuildinfo
dist/
coverage/

# vercel
.vercel

# playwright
e2e/.auth/
test-results/
blob-report/
playwright-report/

# misc
*.pem
.DS_Store
